*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}

.banner {
    
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0,0,0.5)), url(https://images.unsplash.com/photo-1547127796-06bb04e4b315?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZGFyayUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60);
    background-size: cover;
    background-position: center;
}
.navebar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
/*   cursor: pointer; */
/*   background-color: #FFEA11; */
  margin-left: 5px;
}

.navebar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px; 
   /*padding: 0 20px; */
    position: relative; 

}

.navebar ul li a {
    text-decoration: none;
    color:red;
    text-transform: capitalize;
}

.navebar ul li::after{
    content: '';
    height: 2px;
    width: 0; /*100% */
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.navebar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1 {
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 80px;
}
.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    
    width: 150px;
    height: 40px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 1.5px solid #009688;
    background: transparent;
    color:  #1ae6df;
    cursor: pointer;
    position:relative;
    overflow: hidden;
    
}

span {
    text-align: center;
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position:absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}
button:hover span {
    width: 100%;
}
button:hover {
    border: none;
}